

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px 219 x 150 */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:200px;                   /* text area height */
    width:240px;                   /* text area width */
    text-align:center;
    padding:160px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-180px 0px 0px -110px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:50px 0px 50px 220px;  /* padding-top + padding-bottom + text area = image height */
        margin:-135px 0px 0px -220px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

#logo {
/*	float: left;*/
	width:240px;   
}
#menu {
	
	width:370px;   
}